<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="row align-items-center vh-100">
        <div class="col-10 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">

                    <center>
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <hr><br>
                            <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill" />
                            </svg>
                            <div>
                                <h4> &nbsp;Site is Active<h4>
                            </div>
                        </div>
                        <p class="card-text"><a class="card-text" href="{{ link }}">{{ link }}</a> is active</p><br>
                    </center>
                    <center><a href="{{ url_for('index') }}" class="btn btn-info">Go Home</a></center><br>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>